@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__wrapper {
    @apply min-h-screen h-screen max-h-screen relative overflow-hidden flex flex-col items-center justify-center;
  }

  .__main-bg {
    @apply inset-0 absolute overflow-hidden z-10;
  }

  .__main-bg .__main-filter {
    @apply absolute z-10 w-full h-full inset-0 bg-gradient-to-b from-[#29419666] to-transparent bg-[#040D1480];
  }

  .__container {
    @apply relative z-20 sm:max-w-[516px] sm:min-w-[480px] max-w-[460px] sm:w-[480px] px-4;
  }

  .__main-content {
    @apply bg-white rounded-[20px] overflow-hidden relative w-full flex flex-col items-center justify-between sm:px-11 px-8 pt-6 pb-8 min-h-[538px] md:min-h-[588px];
  }

  .__form-group {
    @apply flex flex-col;
  }

  .__captcha {
    @apply items-center sm:gap-8 gap-4 grid grid-cols-2;
  }

  .__brand {
    @apply relative z-10 text-white flex flex-col items-center;
  }

  .__button {
    @apply roboto rounded-[10px] __button-gradient py-4 font-semibold text-white;
  }

  .__input {
    @apply noto-sans md:py-4 py-3 px-3 text-sm text-[#7F7F7F] border-b border-[#7F7F7F] focus:border-b-[#f7971e] focus:bg-[#f7971e10] outline-none;
  }

  .__input.__input-error {
    @apply border-b border-red-500;
  }

  .__error-message {
    @apply noto-sans px-3 text-xs font-normal text-red-300;
  }

  .__inactive {
    @apply opacity-50;
  }
}

.__button-gradient {
  background: linear-gradient(91deg, #f7971e 31.66%, #ffd200 126.96%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
