@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__wrapper {
    @apply min-h-screen h-screen max-h-screen relative overflow-hidden flex flex-col md:items-start items-center justify-center;
  }

  .__main-bg {
    @apply inset-0 absolute overflow-hidden z-10;
  }

  .__container {
    @apply relative z-30 bg-[#1D1B1B66] backdrop-blur-sm md:max-w-[572px] md:min-w-[572px] max-w-full min-w-full md:w-[572px] px-2 h-full flex flex-col items-center justify-center md:rounded-r-[20px];
  }

  .__main-content {
    @apply bg-transparent;
  }

  .__form-group {
    @apply flex flex-col;
  }

  .__captcha {
    @apply sm:gap-8 gap-4 flex w-full items-center;
  }

  .__brand {
    @apply relative z-10 text-white flex flex-col items-start gap-2;
  }

  .__heading-1 {
    @apply text-[28px] sm:text-[28px] font-bold flex flex-col gap-0 leading-tight;
  }

  .__button {
    @apply roboto rounded-[10px] __button-gradient md:py-4 py-3 font-semibold text-white;
  }

  .__input {
    @apply noto-sans bg-transparent md:py-4 py-3 px-3 text-sm text-[#EEEEEE] placeholder:text-[#EEEEEE] border rounded-[10px] border-[#EEEEEE] focus:border-[#a83279] focus:bg-[#a8327910] focus:outline-[#a83279];
  }

  .__input-label {
    @apply text-white inter font-semibold text-base;
  }

  .__input.__input-error {
    @apply border-b border-red-500;
  }

  .__error-message {
    @apply noto-sans mt-1 text-xs font-normal text-red-300;
  }

  .__inactive {
    @apply opacity-50;
  }

  .__forgot-password a {
    @apply text-sm font-semibold;
  }
}

.__button-gradient {
  background: linear-gradient(91deg, #d38312 31.66%, #a83279 126.96%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.__button-gradient:hover {
  background: linear-gradient(91deg, #d38312 31.66%, #a83279 126.96%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.text-gradient-primary {
  background: -webkit-linear-gradient(-92deg, #ffb751 50%, #a83279);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
